<input list="cities" id="cityInput" name="city" placeholder="Select Your City">
<span class="cart-error-message">Please select the city.</span>

<datalist id="cities"></datalist>
<script>
 var citiesListUnsort = [
"KARACHI",
"LAHORE",
"ISLAMABAD",
"RAWALPINDI",
"PESHAWAR",
"SIALKOT",
"GUJRANWALA", 
"MULTAN", 
"FAISALABAD",
"ABAZAI",
"ABBAS PUR",
"ABBOTTABAD",
"ABDUL HAKEEM",
"ADDA JOHAL",
"ADDA MIR ABBAS",
"ADDA SHAIKH WAHAN",
"ADDA SIRAJ",
"ADOWAL",
"AHMADPUR LAMA",
"AHMEDPUR EAST",
"AHMEDPUR SIAL",
"AJNIA WALA",
"AKHTAR ABAD",
"AKORA KHATAK",
"ALI PUR FRASH",
"ALIPUR CHATHA",
"ALIPUR",
"ALLAH ABAD",
"AMANGARH",
"AMINPUR BANGLA",
"AMIRABAD",
"ARIFWALA",
"ARRAR",
"ATTOCK",
"AWAN SHARIF",
"AYUBIA",
"Adam K Cheema",
"Adda Farid Kot",
"Adi Kot",
"Adilpur",
"Ahata Farooqia",
"Ahmed Pur East",
"Akora Khattak",
"Ali Pur Chatta",
"Ambar",
"Ambor",
"Arija",
"Aroopmore",
"Athara Hazari",
"Attowall",
"BADBHER",
"BADDOMALHI",
"BADIN",
"BAFFA",
"BAGH (AJK)",
"BAHAWALNAGAR",
"BAHAWALPUR",
"BAHTAR MORE",
"BAIG PUR",
"BAKKA KHEL",
"BALAKOT",
"BALAMBAT",
"BALKASAR",
"BANDA DAUD SHAH",
"BANDHI",
"BANGLA MANTHAR",
"BANGULDERO",
"BANNU",
"BARA MARKET",
"BARIKOT",
"BARTHI",
"BASHARAT",
"BASIRPUR",
"BASTI BUZDAR",
"BASTI MALANA",
"BASTI MALOOK",
"BATKHELA",
"BATTAGRAM",
"BELA",
"BHAGOWAL KALAN",
"BHAGTANWALA",
"BHAGWAL",
"BHAI PHERU",
"BHAKKAR",
"BHALWAAL",
"BHAN SAYEDABAD",
"BHARA KAHU",
"BHARPUR",
"BHAUN",
"BHER KUND",
"BHERA",
"BHIKKI",
"BHIMBER (AJK)",
"BHONG",
"BHOWANA",
"BHURBUN (P.C. HOTEL)",
"BOCHAL KALAN",
"BONGA HAYAT",
"BUCHAL KHURD",
"BUCHEKE",
"BUNER",
"BUREWALA",
"Babarloi",
"Baddar",
"Badiana",
"Bagh",
"Bakrani",
"Bala Pir",
"Bangla Gogera",
"Bansrian",
"Basti Lar",
"Behra",
"Bhagoor",
"Bhan Syedabad",
"Bhawana",
"Bhiria city",
"Bhurban",
"Budha Goraya",
"Budhla Sunt",
"CADET COLLEGE SUNNY BANK",
"CHAK JHUMRA",
"CHAK PARANA",
"CHAKDARA",
"CHAKIA",
"CHAKLALA",
"CHAKORA",
"CHAKRAL",
"CHAKRI",
"CHAKWAL",
"CHAMAN",
"CHANGA MANGA",
"CHAR BAGH",
"CHARHOI",
"CHARSADDA",
"CHASHMA",
"CHAWINDA",
"CHENAB NAGAR",
"CHICHAWATNI",
"CHINIOT",
"CHISTIAN",
"CHITRAL",
"CHITTA BATTA",
"CHOA SAIDAN SHAH",
"CHOBARA",
"CHOR",
"CHOTA LAHORE",
"CHOWK AZAM",
"CHOWK MUNDA",
"CHOWK PANDORI",
"CHUHAR JAMALI",
"CHUNIAN",
"Chak Sobaram",
"Chakmall",
"Channan",
"Chattar",
"Chella Bandi ",
"Chicha watni",
"Chishtian",
"Chowk Permit",
"Chowk Qureshi",
"DADU",
"DADYAL (AJK)",
"DAKWALA",
"DALIPUR",
"DALWAL",
"DANDOT",
"DAOOD ZAI",
"DARGAI",
"DARRO",
"DARYA KHAN",
"DASKA",
"DAUD KHEL",
"DAUL TALA",
"DAULATPUR",
"DAUR",
"DEHARKI",
"DEPALPUR",
"DERA ALLAH YAR",
"DERA GHAZI KHAN",
"DERA ISMAIL KHAN",
"DERA MURAD JAMALI",
"DERA NAWAB",
"DEWALAY",
"DHABJEE",
"DHARABI",
"DHEEDWAL",
"DHERI ALLA DHAND",
"DHUDIAL",
"DIGRI",
"DIJKOT",
"DINA",
"DINGA",
"DISTT. COMPLEX",
"DOABA",
"DOKRI",
"DONGA BONGA",
"DULLE WALA",
"DULMIAL",
"DUMMAN",
"DUNIAPUR",
"Dadyal",
"Daharki",
"Dahranwala",
"Daira Din Panah",
"Dalowali",
"Daluwali",
"Daraban",
"Dera Ala Yar",
"Dhabeji",
"Dharamkot",
"Dhoria",
"Doria",
"Dunyapur",
"F.F.C. PLANT",
"FAQIRWALI",
"FAROKA",
"FAROOQABAD",
"FATEH JANG",
"FATEH PUR KAMAL",
"FATEH PUR",
"FAZIL PUR",
"FEROZ WATWAN",
"FKPCL POWER PLANT",
"FORT ABBAS",
"Faisalabad Allied",
"Faqir Wali",
"Farooka",
"Fatima Fertilizer Company",
"Fazilpur",
"Feroza",
"Feroze Wattwan",
"fateh pur Gujrat",
"GAGGO MANDI",
"GAMBAT",
"GAMBER",
"GARHA MORE",
"GATWALA 199 / RB",
"GHAKKAR MANDI",
"GHAR MORE",
"GHARI HABIBULLAH",
"GHARIBWAL CEMENT",
"GHARO",
"GHAZI",
"GHAZIABAD",
"GHAZIAL",
"GHIKA GALI",
"GHORA GALI",
"GHORI WALA",
"GHOTKI",
"GHOUR GHUSTI",
"GHOUS PUR",
"GHOUSPUR",
"GILGIT",
"GOJRA",
"GOLARCHI",
"GOTH MACHI",
"GUJAR KHAN",
"GUJRAT",
"GULIANA",
"GULPUR",
"GULYANA",
"GWADAR",
"Gaggoo Mandi",
"Garh Moor",
"Garhi Dupatta",
"Garhi Yasin",
"Ghakhar Mandi",
"Ghlotian",
"Girot",
"Gojra Muzaffrabad",
"Gondal",
"Guddu",
"HABIB ABAD",
"HAFIZABAD",
"HAJEERA",
"HAKIM ABAD",
"HALA",
"HANGU",
"HARAPPA",
"HARIPUR",
"HARNAL",
"HAROONABAD",
"HASEEB WAQAS MILLS",
"HASIL PUR",
"HASSAN ABDAL",
"HATIA BALA",
"HATTAR",
"HAVELI LAKHA",
"HAVELIAN",
"HAZARA UNIVERSITY",
"HAZRO",
"HEAD BALOKI ROAD",
"HEAD RAJKAN",
"HEADMARALA",
"HUB CHOWKI",
"HUJRA SHAH MUKEEM",
"HUNZA–NAGAR",
"HURNAMAIRA",
"HUSRI",
"HYDERABAD",
"Hadali",
"Halani",
"Harnoli",
"Harrapa",
"Hasan Abdal",
"Hatiyan",
"Haveli Bahadur Shah",
"Head Marralla",
"Hujra Shah Muqeem",
"Hyderabad Allied",
"IQBAL ABAD",
"IQBAL NAGAR",
"Isakhel",
"Iskanderabad",
"Islamabad Allied",
"Islamkot",
"JACOBABAD",
"JAFARABAD",
"JAHANIAN",
"JALALPUR BHATTIAN",
"JALALPUR JATTAN",
"JALALPURPIRWALA",
"JAMPUR",
"JAMSHORO",
"JANDIA SHER KHAN",
"JARANWALA",
"JATLAN (AJK)",
"JATOI",
"JEHANGIRA",
"JHABRAN MANDI",
"JHAMRAH",
"JHANG",
"JHANGI",
"JHATLA",
"JHELUM",
"JHOKE UTRA",
"JHOL",
"JHUDDO",
"JOHARABAD",
"JOHI",
"Jabbi",
"Jalal Pur Jattan",
"Jalal Pur",
"Jalalpur Pir Wala",
"Jamesabad",
"Jamke Cheema",
"Jatlan",
"Jauharabad",
"Jetha Bhutta",
"Jhawarian",
"Jund",
"KABIRWALA",
"KACHA KHOO",
"KAHAUTA",
"KAIRPUR NATHIN SHAH",
"KAKKI",
"KAKRALI",
"KALA GUJRAN",
"KALAT",
"KALLAR KAHAR",
"KALLAR SYEDDAN",
"KALOR KOT",
"KAMALIA",
"KAMOKE",
"KAMRA",
"KAND KOT",
"KANDIARO",
"KANGAN PUR",
"KANGRA",
"KANJU",
"KANYAL",
"KAPCO POWER PLANT",
"KARAK",
"KARAM PUR",
"KAROOR PAKA",
"KAROR LAL EASAN",
"KARULI",
"KASHMORE",
"KASSOWAL",
"KASUR",
"KATHORE",
"KCP Colony",
"KHAIGALA",
"KHAIRPUR MEERUS",
"KHAIRPUR TAMEWALI",
"KHAIRPUR",
"KHAN BELA",
"KHAN GHAR",
"KHAN PUR (CHAKWAL)",
"KHANEWAL",
"KHANKA DOGRAN",
"KHANPUR MAHAR",
"KHANPUR",
"KHARIAN",
"KHAS BEHAAL",
"KHIDARWALA",
"KHOAZA KHAILA",
"KHOSKI",
"KHUDIAN KHAS",
"KHUI RATTA (A.K)",
"KHURRIANWALA",
"KHUSHAB",
"KHUZDAR",
"KHWERA",
"KOHAT",
"KOT ADDU",
"KOT CHUTTA",
"KOT GHULAM MUHAMMAD",
"KOT MITHAN",
"KOT MOMIN",
"KOT PINDI DAS",
"KOT QAISRANI",
"KOT RADHA KISHAN",
"KOT SAMABAH",
"KOTLA ARAB ALI KHAN",
"KOTLA",
"KOTLI (AJK)",
"KOTLI BEHRAM",
"KOTLI LOHARAN",
"KOTRI",
"KUCHLAK",
"KULACHI",
"KUNDIAN",
"KUNRI",
"Kabal",
"Kabir Wala",
"Kacha Khuh",
"Kahror Pakka",
"Kahuta",
"Kala Bagh",
"Kala Shah Kaku",
"Kallar Syedan",
"Kamaliya",
"Kamar Mushani",
"Kamir",
"Kandan Siyan",
"Kandh Kot",
"Karianwala",
"Karor Lal Esan",
"Katha Sagraal",
"Katlang",
"Khadro",
"Khairabad",
"Khairpur Mirs",
"Khairpur Nathan Shah",
"Khairpur Tamiwali",
"Khalabat Township",
"Khan Garh",
"Khan Pur",
"Khari Sharif",
"Kharota Syedan",
"Khebar",
"Khichi Wala",
"Kot Bahadur Shah",
"Kot Sabzal",
"Kot Samaba",
"Kot Shaukat",
"Kot Sultan",
"Kotli",
"Kunjah",
"LAKKI MARWAT",
"LALA MUSA",
"LALIAN",
"LALLIAN",
"LALLIANI",
"LALPIR (THERMAL POWER)",
"LARKANA",
"LAWRENCE PUR",
"LAYYAH",
"LEHR SULTAN PUR",
"LIAQAT PUR",
"LIAQUATABAD",
"LODHRAN",
"LOHI BHER",
"LORALAI",
"LOWER DIR",
"LOWER TOPA",
"Lakhi Ghulam Shah",
"Lalamusa",
"Liaquat Pur",
"Lower Chattar-Muzaffarabad",
"Lower Plate-Azad Kashmir",
"Luddan",
"MACHIKEY",
"MADINA",
"MAILSI",
"MAKLI",
"MALAKAND",
"MALAKWAL",
"MALHAL MUGHLAN",
"MAMU KANJAN",
"MANA WLA",
"MANAWALA",
"MANDI BAHAUDDIN",
"MANDI SAFDAR ABAD",
"MANDI USMAN WALA",
"MANDIAN",
"MANDRA",
"MANGA MANDI",
"MANGLA (AJK)",
"MANGLA CANTT (AJK)",
"MANGROTHA",
"MANGWAL",
"MANKERA",
"MANKYLA STATION",
"MANSEHRA",
"MARDAN",
"MARI",
"MASAR CAMP",
"MASTUNG",
"MATIARI",
"MATLI",
"MATTA MUGHAL KHEL",
"MATTA",
"MEHER",
"MEHMOOD KOT",
"MEHRAB PUR",
"MIAN CHANNU",
"MIAN WALI QURESHAIN",
"MIAN WALI QURESHIAN",
"MIANI",
"MIANWALI",
"MICHAN KHELADDA LAKKI MARWAT",
"MINCHINABAD",
"MINGORA",
"MIR PUR METHELO",
"MIRPUR (AJK)",
"MIRPUR BATHORO",
"MIRPUR KHAS",
"MIRPUR SAKRO",
"MITHA TIWANA",
"MITTHI",
"MOINUDDIN PUR",
"MORE AIMANABAD",
"MORE KHUNDA",
"MORO",
"MOTRA",
"MURIDKE",
"MURREE",
"MURYALI",
"MUZAFFARABAD (AJK)",
"MUZAFFARGARH",
"Machi Wal",
"Madeji",
"Mahota",
"Makhdoom Rasheed",
"Malka Hans",
"Mandeer",
"Mandi Madressa",
"Mandi Shah Jeewna",
"Mandi",
"Mandrah",
"Mangla",
"Mangowal",
"Matti Tall",
"Mehar",
"Mehrabpur",
"Merajke",
"Minchin Abad",
"Mirbaz",
"Mirpur Azad Kashmir",
"Mirpur Mathelo",
"Mirwah",
"Mithi",
"Mitran Wali",
"Mitro",
"Multan Allied",
"Muridwala",
"Musa Khel",
"Musafir Khana",
"Muzaffar Garh",
"Muzaffarabad",
"NANKANA SAHIB",
"NARANG MANDI",
"NAROWAL",
"NASARPUR",
"NASIRABAD",
"NATHIA GALI",
"NAUSHAHRO FEROZE",
"NAWABSHAH",
"NAWAN SHEHR",
"NAWAY KALI",
"NAYA LAHORE",
"NEW INDUSTRIAL AREA",
"NISATTA",
"NIZAMABAD",
"NOKHAR",
"NONAR",
"NOOR COLONY",
"NOOR KOT",
"NOORPUR THAL",
"NOORPUR",
"NORIABAD",
"NOWSHERA KALAN",
"NOWSHERA VIRKAN",
"NOWSHERA",
"NRTC (TELECOM STAFF COLLEGE)",
"NUDEARO",
"NUSHKI",
"Naluchi",
"Nassera",
"Naudero",
"Nawab Pur",
"New Saeedabad",
"Noor Pur Thal",
"Noor Shah",
"Nurkot",
"OKARA",
"OLD HALA",
"OUDHERWAL",
"Okara Cantt",
"P.O.F. (FACTORY & COLONY)",
"PABI",
"PACHIOT",
"PAHARPUR",
"PAKPATTAN",
"PANIALA",
"PANOAQIL",
"PAROA",
"PASROOR ROAD AND VILLAGES",
"PASROOR",
"PATOKI",
"PATRIATA",
"PEER MAHAL",
"PEZU",
"PHALIA",
"PHOOL NAGAR",
"PIND DADAN KHAN",
"PINDI BHATIAN",
"PINDI GHEB",
"PINDI GUJRAN",
"PIPLAN",
"PIR BABA",
"PISHIN",
"PITARO",
"PMA KAKUL",
"POONCH (AJK)",
"PUNGIRAYIN",
"PUNWAN",
"Paigah",
"Panj Girain",
"Panjan Kasana",
"Panjeri",
"Pano Akil",
"Pasrur",
"Pattoki",
"Peshawar Allied",
"Petaro",
"Pindi Bhatiyan",
"Pir Bala ",
"Pir Mahal",
"Pir Wadhai",
"Pirjo Goth",
"Piryaloi",
"QABAL",
"QABOOLA SHARIF",
"QADIR PUR RAWAN",
"QAIDABAD",
"QAMAR ABAD",
"QAMAR MASHANI",
"QAMBAR",
"QASBA GUJRAT.",
"QAZI AHMED",
"QILA DEEDAR SING",
"QILA SAIB SINGH",
"QUETTA",
"Qaboola",
"Qadirpur Rawan",
"Qaim Pur",
"Qamber",
"Qasba Gujrat",
"Qila Didar Singh",
"Qila Jawand Singh",
"Qila Kalar Wala",
"Quaidabad",
"Quetta Allied",
"RADHAN",
"RAHIM YAR KHAN",
"RAHIMABAD",
"RAIWIND",
"RAJA JANG",
"RAJANA",
"RAJANPUR",
"RAJAR",
"RAJJAR",
"RAMAK",
"RANGPUR",
"RANI PUR",
"RAO KHAN WALA",
"RASHAKI",
"RATO DEARO",
"RAWALAKOT (AJK)",
"RAWAT",
"RENALA KHURD",
"RISALPUR",
"ROHRI",
"RUBWA",
"Rabwa",
"Rajan Pur",
"Ranipur",
"Rato Dero",
"Ratta bajwa",
"Rawalakot",
"Rohillan Wali",
"Rooda",
"Rudo Sultan",
"Rustam",
"SADIQABAD",
"SADWAL",
"SAFDARABAD",
"SAHIWAL",
"SAIDU SHARIF",
"SAIGAL ABAD",
"SAJAWAL",
"SAKRAND",
"SALOI",
"SAMANDARI",
"SAMARO",
"SAMASATTA",
"SAMRALA",
"SANGHAR",
"SANGHOI",
"SANGHOLA",
"SANGLA HILL",
"SANJHORO",
"SANJWAL",
"SARAYE NORANG",
"SARDAR GARH",
"SARDARYAB",
"SARDHERI BAZAR",
"SARGODHA",
"SARI ALAMGIR",
"SARSAWA",
"SATYYANA",
"SAWABI",
"SEHNSA",
"SEHWAN SHARIF",
"SHABAZ AZMAT KHEL",
"SHABQADAR",
"SHADAD KOT",
"SHADAN LUND",
"SHADIWAL",
"SHAH ALLAH DITTA",
"SHAH PUR CHAKAR",
"SHAH SADDAR DIN",
"SHAHDAD PUR",
"SHAHDARA TOWN",
"SHAHKOT",
"SHAHPUR JAHANIA",
"SHAHPUR SADDAR",
"SHAKARGARH",
"SHAM KOT",
"SHAMS ABAD",
"SHANGLA",
"SHARAQPUR SHARIF",
"SHEEDO",
"SHEIKH PUR",
"SHEIKHUPURA",
"SHERGARH",
"SHEWA ADDA",
"SHIKARPUR",
"SHIMLA HILL",
"SHORKOT",
"SHUJABAD",
"SIBI",
"SIDH",
"SIHALA",
"SIKANDAR ABAD",
"SIKANDARABAD",
"SILANWALI",
"SINJHORO",
"SIRAYE MUHAJIR",
"SIRIKOT",
"SKARDU",
"SKINDAR KHEL BALA",
"SMAAL IND ESTATE. DASKA",
"SOHAN",
"SOHAWA ONLY MAIN GT ROAD",
"SOHAWA",
"SUDHANOTI (AJK)",
"SUKKUR",
"SUMBRIAL",
"SUNDER ADDA",
"SURAKHPUR",
"SWABI",
"SWAT",
"SYED WALA",
"Saidan",
"Sakhi Sarwar",
"Sambrial",
"Samundri",
"Sanawan",
"Sanjar Pur",
"Sarai Alamgir",
"Sarai Mahajir",
"Sarai Naurang",
"Sarhad",
"Satiana",
"Satrah",
"Sehwan",
"Sekhat",
"Seoki",
"Shah Jamal",
"Shah Kot",
"Shah Pur",
"Shahdadkot",
"Shahdara",
"Shaher Sultan",
"Shahpur Chakar",
"Sharaqpur",
"Shorkot Cantt",
"Shuja Abad",
"Sillanwali",
"Siranwali",
"Sokar",
"Sukkur Allied",
"TAKHT-E-BHAI",
"TALAGUNG",
"TALHAR",
"TALVANDI",
"TANDLIAWALA",
"TANDO ADAM",
"TANDO ALLAHYAR",
"TANDO BAGO",
"TANDO GHULAM ALI",
"TANDO JAM",
"TANDO JAN MUHAMMAD",
"TANDO MOHD KHAN",
"TANGI",
"TANK",
"TARAR KHEL",
"TARBELA DAM",
"TARNOL",
"TATTA PANI",
"TAUNSA SHARIF",
"TEHKAL BALA",
"THANA",
"THANIL KAMAL",
"THATTA",
"THEENG MORE (ALLAHABAD)",
"THORAR",
"THULL",
"TIBBA SULTANPURA",
"TIMARGARAH",
"TOBA TEK SINGH",
"TOPI (GIK UNIVERSITY AREA ONLY)*",
"TRANDA MOHAMMAD PANAH",
"TRANDA SAWAY KHAN",
"TULAMBA",
"TURBAT",
"Takht Bhai",
"Talagang",
"Tanda",
"Tandlianwala",
"Taranda Muhammad Panah",
"Taranda Saway Khan",
"Tarbela",
"Taxila",
"Thari Mirwah",
"Tharu Shah",
"Theeng More",
"Therhi",
"Tiba Sultan Pur",
"Toru",
"UBARO",
"UCH SHRIF",
"UGGOKE",
"UMARZAI",
"UMERKOT",
"USTA MUHAMMAD",
"UTHAL",
"Ugoki",
"Usman Wala",
"VEHARI",
"VILLAGE SIAL",
"WAH CANTT",
"WAHULA",
"WAN RAHDA RAM",
"WAPDA COLONY (AJK)",
"WARBATTAN",
"WASNAL",
"WAZIRABAD",
"WINDER",
"Wadala Sandhuan",
"Wasanday Wali",
"YAZMAN",
"Yarik",
"ZAFARWAL",
"ZAHIR PIR",
"ZHOB"
  ];

var datalist = document.getElementById("cities");
var input = document.getElementById("cityInput");
var targetedValue = document.getElementById("TextField5");
var selectedCity = '';

citiesListUnsort.forEach(function(city) {
  var option = document.createElement("option");
  option.value = city;
  datalist.appendChild(option);
});

input.addEventListener('input', function() {
  selectedCity = this.value;
  localStorage.setItem("selectedCity", selectedCity);
});


function cityDropdownValidation() {   
  var storedSelectedCity = localStorage.getItem("selectedCity");

    
  if (input.value.length > 0 && storedSelectedCity === input.value) {
    setTimeout(function() {
      window.location.href = `/checkout?checkout[shipping_address][city]=${storedSelectedCity}`;
    }, 500);
  }else {
    document.querySelector(".cart-error-message").style.display = "block";
    document.querySelector(".cart-error-message").style.color = "red";
    
  }

}


</script>